html, body, .main {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E6ECF0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px #888;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.input-box-container {
  display: flex;
  flex-direction: column;
}

.input-control {
  margin-bottom: 10px;
}

.output-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
}

input:focus {
  outline: none;
}